In [9]:
import pandas as pd

df = pd.read_csv('Livre2.csv')
df

,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,8.6,5.7,3.1,3.4,5.7,5.4,5.0,5.6,2.8,2.8,...,1.0,1.1,0.9,2.1,1.6,2.0,-7.4,6.9,2.6,0.9
1,4.1,18.9,3.0,-0.1,4.2,6.7,18.8,8.5,-4.0,0.2,...,4.3,5.8,3.8,4.5,3.2,1.9,-12.2,8.3,8.8,0.3
2,6.7,7.0,4.9,4.6,3.0,4.9,7.0,4.4,0.0,2.1,...,1.1,1.4,1.7,1.5,1.0,1.5,-5.8,5.7,3.0,0.8
3,6.7,7.1,4.4,4.9,4.0,5.4,7.0,4.9,0.3,2.3,...,1.0,1.6,1.7,1.5,1.1,1.7,-6.5,5.2,3.1,0.8
4,6.9,6.2,6.7,3.5,0.1,3.2,7.0,2.8,-0.9,1.5,...,1.3,1.1,1.5,1.6,0.8,1.0,-4.3,6.6,2.6,0.7
5,4.6,9.1,1.1,4.7,9.3,10.8,7.9,9.9,5.1,4.7,...,-0.4,0.6,2.8,3.7,3.5,4.1,-5.8,9.7,-0.0,0.4
6,2.7,6.2,-7.9,2.7,3.8,8.8,10.4,10.7,4.8,4.1,...,1.3,2.9,3.0,3.9,5.0,2.8,-5.2,10.1,2.9,2.7
7,5.9,-0.5,20.2,9.4,13.1,11.0,11.8,9.8,3.0,12.0,...,-5.1,-4.1,0.7,-1.2,2.7,7.9,-5.6,2.4,0.0,6.9
8,10.1,31.4,15.0,5.9,19.9,15.2,0.6,8.5,6.5,0.0,...,-3.0,-1.6,2.8,5.6,1.8,2.7,-7.1,15.0,-3.5,-8.5
9,20.4,11.7,-2.9,-1.7,8.3,4.8,-1.1,8.6,2.1,12.4,...,2.7,4.5,2.1,4.4,3.8,2.1,-16.6,11.3,8.2,2.1
10,6.3,7.4,4.2,4.6,4.4,6.1,7.2,5.6,1.2,2.7,...,0.8,1.3,1.9,2.0,1.5,2.1,-5.8,6.6,2.3,0.7

In [10]:
annees = df.columns.tolist()
annees

['1950',
 '1951',
 '1952',
 '1953',
 '1954',
 '1955',
 '1956',
 '1957',
 '1958',
 '1959',
 '1960',
 '1961',
 '1962',
 '1963',
 '1964',
 '1965',
 '1966',
 '1967',
 '1968',
 '1969',
 '1970',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021',
 '2022',
 '2023']

In [11]:
df_long = pd.melt(df, var_name='annee', value_name='valeur')
df_long

    annee  valeur
0    1950     8.6
1    1950     4.1
2    1950     6.7
3    1950     6.7
4    1950     6.9
..    ...     ...
809  2023     2.7
810  2023     6.9
811  2023    -8.5
812  2023     2.1
813  2023     0.7

[814 rows x 2 columns]

In [12]:
df_long.to_csv('Livre3.csv', index=False, sep=';')